h1 {
    color: blue;
    text-align: center;
}
h2 {
    color: olive;
}

/* Style.html */
#foo, #bar {
    color: blue;
}
.baz {
    color: red;
} 
/* Table.html */
table {
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding: 5px;
}
/* descendant.html */
ul li {
    color: blue;
}

/* Attribute.html */
a[href="https://facebook.com"] {
        color: red;
}

/* Button.html */
button {
    width: 200px;
    height: 50px;
    font-size: 24px;
    background-color: green;
}
button:hover {
    background-color: orange;
}

